.Porty{
    color: black;
    margin: 15px;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.Porty h1{
    display: flex;
    justify-content: center;
}

.Gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}