.drc h1{
    color: #101616;
    display: flex;
    justify-content: center;
}

.highlights{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    margin: 20px;
    padding: 15px;
    width: 80vw;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

.content h3{
    color: #2f4343;
}

.content h4{
    color: #2f4343;
}

.content p{
    color: #2f4343;
}

.content li{
    color: #2f4343;
}

.d-block-1{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    margin: 20px;
    padding: 15px;
    width: 33.3vw;
}

.d-img-1{
    border-radius: 15px;
    margin: 20px;
    width: 30rem;
}

.d-img-2{
    border-radius: 15px;
    margin: 20px;
    width: 400px;
}

.d-block-2{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    margin: 20px;
    padding: 15px;
    width: 30rem;
}

.d-img-3{
    border-radius: 10px;
    margin: 20px;
    width: 30rem;
}


.d-block-3{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    margin: 20px;
    padding: 15px;
    width: 30rem;
}

.d-block-4{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    margin: 20px;
    padding: 15px;
    width: 20rem;
}

.d-block-4 a {
    color: #2f4343;
    text-decoration: underline;
}