.Resume{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Resume h1{
    color: #101616;
    display: flex;
    justify-content: center;
}

.job{
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 5px;
}

