.about-page{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    height: 60vh;
}

.about-block{
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60vw;
}

.about-block h1{
    color: #101616;
}

.about-block p{
    color: #2f4343;
}