.Card{
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 250px;
}

.ProjectImage{
    border-radius: 15px;
    margin-top: 20px;
    width: 150px;
}

button{
    background-color: #F4C285;
    border: 2px solid #F4C285;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgrey;
    color: black;
    cursor: pointer;
    font-family: 'Vesper Libre', serif;
    font-size: 15px;
    height: 35px;
    margin: 10px;
}

button:hover{
    background-color: #FEFEFE;
    border: 2px solid #F4C285;
    color: black;
}