.Footer{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    color: #4e706f;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100vw;
}

.About{
    /* color: #4e706f; */
    color: #101616;
    margin-left: 35px;
}

.About p{
    color:#2f4343;
}

.Portfolio{
    /* color: #4e706f; */
    color: #101616;
    margin-left: 20px;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13px, 1fr));
    gap: 30px;
    grid-auto-rows: minmax(50px, auto);
    margin-right: 20px;
}

.Portfolio img{
    width: 2rem;
}

.github{
    margin-top: 9px;
}

.medium{
    margin-top: 9px;
}

.Contact{
    /* color: #4e706f; */
    margin-right: 35px;
}

.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13px, 1fr));
    gap: 30px;
    grid-auto-rows: minmax(50px, auto);
    margin-right: 35px;
}

.phone {
    margin-top: 9px;
    width: 2rem;
}

.email{
    width: 3.5rem;
}

.linkedin{
    width: 2rem;
}

.twitter{
    margin-left: 8px;
    width: 2rem;
}

.Footer a{
    color: #658277;
    text-decoration: underline;
}